{% extends "maestra.html" %}
{% block titulo %} Repositorios {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Repositorios del usuario {{usuario_github}}</h3>
            <a href="{{url_for('usuarios')}}" class="button is-primary mt-2">Volver</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Html_url</th>
                        <th>Description</th>
                        <th>Created_at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repositorio in repositorios %}
                    <tr>
                        <td>{{repositorio[1]}}</td>
                        <td><a href='{{repositorio[2]}}'></a></td>
                        <td>{{repositorio[3]}}</td>
                        <td>{{repositorio[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{msg}}
        </div>
    </div>
</section>
{% endblock %}