{% extends "maestra.html" %}
{% block titulo %} Usuarios {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Usuarios</h3>
            <a href="{{url_for('formulario_agregar_usuario')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>E-Mail</th>
                        <th>Usuario Github</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario[1]}}</td>
                        <td>{{usuario[2]}}</td>
                        <td>{{usuario[3]}}</td>
                        <td>{{usuario[4]}}</td>
                        <td>{{usuario[5]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en usuario[0] #}
                            <a href="{{url_for('editar_usuario', id=usuario[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_usuario')}}" method="POST">
                                <input type="hidden" name="id" value="{{usuario[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                        <td>
                            <a href="{{url_for('repositorios', usuario_github=usuario[5])}}" class="button is-info">Ver repositorios</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}